/* ProfileEdit.module.css */
.container {
    min-height: calc(100vh - 4rem);
    background-color: #1f1f1f;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    max-width: 40rem;
    width: 100%;
    background-color: #292e35;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    color: #fff;
    font-size: 1rem;
}

.input {
    padding: 0.75rem 1rem;
    border: 1px solid #3b3f45;
    border-radius: 0.5rem;
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
}

.input:focus {
    border-color: #60a5fa;
}
.buttonGroup {
    display: flex;
    gap: 10px;
}

select.input {
    appearance: none;
    padding-right: 2rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px 0;
    border-radius:5px;
    background-color: #60a5fa;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
}

.button:hover {
    background-color: #4d94f4;
}

.cancelButton {
    background-color: #ae2b2b;

}

.cancelButton:hover {
    background-color: #912222;
}

.error {
    color: rgb(174, 54, 54);
    margin: 10px 0 0 10px;
}

/* Desktop styles */
@media (min-width: 768px) {
    .form {
        padding: 3rem;
    }
}